.App {
  max-width: 500px;
  margin: 30px auto;
  font-family: "Lato", sans-serif;
}

.App footer {
  text-align: center;
  font-size: 10px;
  font-family: "Poppins", sans-serif;
  margin-top: 20px;
}

body {
  background-color: #EBEAFB;
}
